.search {
  display: flex;
  width: 100%;
  font-size: 2rem;
}

.input {
  display: block;
  flex: 1 1 auto;
  outline: none;
  font-size: 2rem;
  padding: .5rem;
  border: none;
  border-bottom: 2px solid #00d1b2;
}

.btn {
  position: relative;
  cursor: pointer;
  flex: 0 0 80px;
  background-color: #00d1b2;
  border-radius: 0 .5rem .5rem 0;

  &:after {
    content: '+';
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    top: 50%;
    margin-top: -1rem;
    font-size: 2rem;
    line-height: 1;
    color: #fff;
    text-align: center;
  }
}